
@import '../../../styles/variable.scss';

$header-height: 94px;

.container {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: $contest-heading-font-family;
	background: #000;
	font-size: 2rem;
	padding: 0 78px;
	color: #fff;
	height: $header-height;
}

.contestLogo {
	height: 100%;
	line-height: $header-height;
}

.contestLogo:hover {
	opacity: 0.7;
	cursor: pointer;
}

.signIn {
	@extend .contestLogo;
}

.navItem {
	@extend .signIn;
	text-decoration: underline;
}

.navItem:not(:last-child) {
	margin-right: 56px;
}