# S3 BUCKETS CONFIG
AWS_ACCESS_KEY_ID = ""
AWS_SECRET_ACCESS_KEY = ""
AWS_STORAGE_BUCKET_NAME = ""
AWS_S3_REGION_NAME = ""

# DATABASE CONFIG
CONNECTION_STRING = ""

# OAUTH2 GOOGLE
GOOGLE_OAUTH2_CLIENT_ID = ""
GOOGLE_OAUTH2_CLIENT_SECRET = ""

# DJANGO CONFIG
ACCESS_TOKEN_LIFETIME = "" # in minutes
REFRESH_TOKEN_LIFETIME = "" # in minutes
SECRET_KEY = "" 
# generate a secret key using the following command: 
# python -c 'from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())'
DEBUG = "1" # 1 for True, 0 for False

# EMAIL CONFIG
EMAIL_HOST_USER = ""
EMAIL_HOST_PASSWORD = ""