@import '../../styles/variable.scss';

.contestHeading {
	color: $contest-primary-color;
	font-family: $contest-heading-font-family
}


.orangeBasicButton {
	background: $contest-primary-color;
	color: #fff;
	font-size: 2rem;
	cursor: pointer;
	width: 200px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-weight: bold;
	border-radius: 10px;
}

.orangeBasicButton:hover {
	background: #ff8c00;
}

.contestStatusLabel {
	display: inline-block;
	text-transform: uppercase;
	background: #686868;
	color: #fbfbfb;
	width: fit-content;
	padding: 4px 14px;
	border-radius: 20px;
	font-size: 2rem;
}

// Innovator account
.authorLine {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	align-items: center;
	justify-self: flex-end;
}

.authorAvtWrapper {
	border-radius: 50%;
	overflow: hidden;
	width: 50px;
	aspect-ratio: 1/1;
}

.authorAvtWrapper .avt {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.authorName {
	font-weight: bold;
	margin-left: 12px;
}