@import "../../../styles/variable.scss";

.banner {
	width: 100%;
	background-color: #1e1e1e;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container {
	font-size: 1.8rem;
	padding: 20px 78px;
}
.contestName {
	text-align: center;
	font-size: 6rem;
	color: $contest-primary-color;
}
.contestPrize {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	text-align: center;
}
.prizeValue {
	width: 100%;
	font-size: 4rem;
	color: $contest-primary-color;
	margin-bottom: 20px;
	font-weight: bold;
}
.submitButton {
	// width: 300px;
	padding: 10px 40px;
	text-transform: uppercase;
	font-size: 3rem;
	font-weight: bold;
	border-radius: 25px;
	background-color: $contest-primary-color;
	box-shadow: 4px 4px 10px 0 rgba($color: #fff, $alpha: 0.7);
}

.prizeBoxParent {
	margin: 0;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 20px;
	background-color: #1e1e1e;
	border-radius: 10px;
	min-width: 200px;
	box-shadow: 4px 4px 10px #444;
}

.firstPrizeBox {
	position: relative;
	overflow: hidden;
	@extend .prizeBoxParent;
	height: 250px;
}
.secondPrizeBox {
	@extend .prizeBoxParent;
	height: 200px;
}
.thirdPrizeBox {
	@extend .prizeBoxParent;
	height: 150px;
}

.prizeBoxTitle {
	font-family: $contest-heading-font-family;
	font-size: 3.2rem;
	color: white;
}
.contestDescription {
	display: flex;
	justify-content: space-between;
}

.timeline {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
}
.time {
	font-size: 2.4rem;
	line-height: 2rem;
	color: #ff7510;
}
.roundCard {
	width: 100%;
	background-color: #1e1e1e;
	padding: 10px 20px;
	margin: 10px 0;
	border-radius: 10px;
}
.roundTitle {
	font-size: 2rem;
	color: #ffffff;
	:hover {
		color: #ff7510;
	}
}
.roundDescription {
	color: #888;
	margin: 0;
}

.description {
	flex-shrink: 0;
	margin-left: 10%;
}

.contestDetail {
	margin: 30px 0;
	grid-column-start: 1;
	grid-column-end: 3;
	line-height: 1.4;

	ol {
		padding: 0;
	}
	p {
		font-size: 2.2rem;
		margin: 0 0 4px 0;
	}
	ul {
		margin: 10px 0;
		list-style: circle;
	}
	ul li {
		margin-left: 2rem;
	}
}
